<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="mt-5 mb-3">Oops!</h1>
            <div class="alert alert-danger">
                <%= message %>
            </div>
            <a href="/" class="btn btn-primary">Về trang chủ</a>
        </div>
    </div>
</div>